{% include 'header.html' %}

<div class="container my-3">
    {% for blog in blogs %}
    <div>


        <div>
            <h3>{{ blog['title'] }}</h3>
            <p>{{ blog['blog_description'] }}</p>
            <a href="/blog_details/{{ blog['blog_id'] }}"> Read More </a>
        </div>
        <div style = "display: flex; justify-content:space-between ; align-items: center;">
            <p>{{ blog['created_at'] }}</p>
            <p><b>{{ blog['fname'] + "  " + blog['lname'] }}</b></p>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>


{% include 'footer.html' %}